.addtask {
    display: flex;
    flex-direction: column;
    background-color: #aee1f5;
    padding: 1rem;
    border-radius: 1rem;
}

.addtask div {
    display: flex;
    margin-bottom: 0.5rem;
}

.addtask div * {
    flex: auto;
    width: 50%;
}

.addtask button {
    align-self: center;
}