html,
body,
main {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.user-link {
    justify-self: right;
}