html,
body,
main,
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    align-items: center;
    justify-content: space-around;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.user-link {
    justify-self: right;
}